html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

* {
  border: 0;
}

section, article, aside, header, footer, nav, dialog, figure, #blc_assist {
  display: block;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  color: #4a4a4a;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  line-height: 1em;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  text-align: center;
  color: #65ccb4d1;
}

h2, h3, h4 {
  color: #65ccb4d1;
}

hr {
  border-bottom: 1px solid #484848;
}

p {
  margin-bottom: 10px;
  text-align: justify;
}

header {
  background-image: url(tentativa7.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.container, header .titulo {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
}

header .titulo h1 {
  margin-bottom: 0;
}

.menu {
  background-color: #82e0d8;
  margin-top: 100px;
}

.menu ul {
  list-style: none;
  text-align: center;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 15px 30px;
  color: #fff;
  font-weight: bold;
}

.menu ul li a:hover, .menu ul li a.active {
  background-color: rgba(227, 253, 255, 0.28)
}

.intent {
  text-indent: 30px;
}

input, select, textarea {
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  border: 1px solid #a9a9a9;
  outline: 0;
}

table {
  border: none;
}

th {
  background-color: rgba(145, 228, 205, 0.50);
  padding: 5px;
}

td {
  background-color: rgba(143, 226, 245, 0.25);
  padding: 5px;
}

mark {
  background-color: #f9f9f9;
}

footer {
  margin-top: 40px;
}

footer h5 {
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  background-color: #f9f9f9;
  padding: 15px;
  margin: 0 auto;
}

.container img {
  max-width: 300px;
  max-height: 450px;
  border-radius: 30px;
}

.container {
  clear: both;
  margin-top: 5px;
}

#mar:link {
  background-color: #f0f0f0;
  color: #2196f3;
  font-weight: bold;
  padding:2px;
}

#mar:visited {
  color: #009688;
}

#mar:hover {
  background-color: #d5eaec;
  color: #4e4e4e;
}

#mar:active {
  color: pink;
}

#citacao {
  width: 500px;
  border: 1px solid;
  border-image: black;
  padding: 10px;
}

.fonte:focus {
  color: gray;
}

.surf-itens li:first-child {
  font-size: 18px;
}

p:only-child {
  background-color: #edf6fb !important;
  margin-bottom: 0;
  padding: 8px;
}
.overflow {
  overflow: auto;
  height: 250px;
}

form fieldset {
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

form button {
    padding: 8px 12px;
    background-color: #b0e3ea;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
}

form button:hover {
  background-color: #33acbd;
  color: #fff;
  cursor: pointer;
}